.campuses-container {
    display: flex;
    margin: 30px;
}

.campus {
    margin: 12px;
    width: 18rem;
}

.campus-description {
    font-style: italic;
}

/* Boostrap4 Overrides */
.card-title {
    font-size: 24px;
}

.card-img-top {
    width: 100%;
    height: 21vh;
    object-fit: cover;
}