.new-student-container {
    display: flex;
    justify-content: center;
}

.add-student-form-container {
    margin: 30px;
    padding: 30px;
    width: 600px;
}

.required-text {
    color: red;
}

.error {
    font-size: .875em;
    color: #dc3545;
    margin-bottom: 10.0px;
}