.student-container{
    display: flex;
    justify-content: center;
}
.student-content-container{
    margin: 30px;
    padding: 30px;
    width: 600px;
}
.student-nav-button {
    display: inline;
    float: right;
}
.student-img-top {
    width: 100%;
    height: 21vh;
    object-fit: cover;
}